<div>
  <h1>{{ title() }}</h1>

  <button (click)="onButtonClick()">Random Number</button>
  <input type="number" (input)="onInput($event)" placeholder="Enter a number" />

  @if (randomNumber() !== null && inputNumber() !== null) {
    <p>
      {{ randomNumber() }} + {{ inputNumber() }} = {{ randomNumber()! + inputNumber()! }}
    </p>
  }
</div>
@if (forDivideNumber() !== null) {
  <app-for-divide [fordivide]="forDivideNumber()"
                  (divideResult)="onForDivideResponse($event)">
  </app-for-divide>
}

@if (forDivideResult !== null) {
  <div>
    <h5>Result of Division: {{ forDivideResult }}</h5>
  </div>
}

<router-outlet />

